.button-color{
    background-color: #E08C57 !important;
}

.button-color:hover {
    background-color: #AD6D44 !important;
}

.buttons-list {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.option {
    margin: 1rem;
    padding: .5rem;
    min-height: 100px;
    min-width: 250px;
}
