.story {
    border-radius: 30px;
    padding: 1rem;
    text-align: left;
}

.ant-list-item-meta-title, .ant-list-item-meta-description {
    color: white !important;
    font-size: large !important;
}
