.ant-steps-item > .ant-steps-item-container > .ant-steps-item-tail::after {
    background: transparent !important;
}

.ant-steps-item-active > .ant-steps-item-container > .ant-steps-item-content > .ant-steps-item-title {
    color: #1677ff !important;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
}

div{
    margin: auto;
}

h1{
    padding-bottom: 30px;
}

.stepper{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    width: 300px;
    height: 50px;
    color: white;
    text-align: initial;
}
.backToMenu{
    position: relative;
}